* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  hsl(212, 45%, 89%);
}

.container {
    max-width: 400px;
    margin: o auto;
    padding: 18px;
}

img {
    width: 100%;
    border-radius: 15px;
}

.card {
    background-color: white;
    padding: 18px;
    border-radius: 15px;
    text-align: center;
    margin: 0 1em;
}

.text {
    margin: 15px 10px;
}

.header {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 18px;
}

p {
    color: rgb(192, 182, 182);
}
